
@model IEnumerable<CMS.Common.Models.Menu.MenuDto>


    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">

        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> Menu
                            </th>

                            <th class="hidden-xs">
                                <i class="fa fa-minus-circle"></i> Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="highlight">
                                    <div class="success"></div>
                                    <a href="javascript:;"> @item.MenuName </a>
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="RemoveMenu(@item.MenuId)" class="btn btn-outline btn-circle btn-sm red-flamingo">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- END SAMPLE TABLE PORTLET-->


<script>
    function RemoveMenu(id) {
        var pageid = id;
        $.post("/Menu/RemoveMenu", {
            id: pageid
        },
            function (data, status) {
                alert("Successfull");
            });

    }
</script>